Logs generated with source_ip: "missing port in address"

We see log lines with
```json
{
  "client": "",
  "file": "usr/local/go/src/net/http/server.go:2136",
  "func": "net/http.HandlerFunc.ServeHTTP",
  "host": "",
  "level": "info",
  "log_audit": true,
  "method": "GET",
  "msg": "HTTP call ended",
  "operation_id": "GetObject",
  "path": "",
  "request_id": "<elided>"
  "sent_bytes": 39,
  "service_name": "rest_api",
  "source_ip": "missing port in address",
  "status_code": 401,
  "time": "<elided>",
  "took": 45899,
  "took_str": "45.899µs"
}
```

They're generated by [this line](https://github.com/treeverse/lakeFS/blob/b9ddb4f9e21d862c1fe73bf4da50e32f05b03f96/pkg/httputil/logging.go#L60-L62).  But arguably if we have a remote address that does _not_ contain a port, we should log it entirely rather than a useless error message.

How does this happen?  Lua actions use half of a http.Request.  The Request constructor calls the following code
```go
// removeEmptyPort strips the empty port in ":port" to ""
// as mandated by RFC 3986 Section 6.2.3.
func removeEmptyPort(host string) string {
	if hasPort(host) {
		return strings.TrimSuffix(host, ":")
	}
	return host
}
```
which obviously means the Host field might not contain a port.